* {
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.App {
  text-align: center;
  
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  background: transparent;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.imageLoto {
  background: transparent;
}

.App-loto {
  margin: 60px;
  padding: 60px;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  font-size: 4.209rem;
  letter-spacing: -.035em;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

button{
  cursor: pointer;
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
button{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
button:before,
button:after{
  position: absolute;
  content: "Gerar Jogo";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
button:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
button:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
button:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

.line {
  border-bottom: 2px solid rgba(255, 255, 255, 0.75);
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  font-family: "Special Elite", monospace;
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
  margin: 20px auto;
  white-space: nowrap;
  overflow: hidden;
}

.typing-animation {
  animation: blinkCursor 500ms steps(40) normal,
    typing 4s steps(40) 1s normal both;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}